$color-background-f = #ffffff
$color-background-f2 = #f2f2f2
$color-background-r = #ff0000

$color-txt-c333 = #333333
$color-txt-c666 = #666666
$color-txt-c999 = #999999

$font-size-s39 = .39rem
$font-size-s42 = .42rem
$font-size-s45 = .45rem
$font-size-s46 = .46rem
$font-size-s48 = .48rem
$font-size-s52 = .52rem
$font-size-s54 = .54rem

